#myH1{
    font-size: 5rem; 
}

#myButton {
  font-size: 4rem;
  margin: 10px;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
}

.enabled {
  background-color: cornflowerblue;
  color: white;
}

.disabled {
    background-color: gray;
    color: white;
  }
.hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.216);
    font-weight: bold;
}